@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary-color: #fff;
    --secondary-color: #000;
}

.dark_mode{
    --primary-color: #000;
    --secondary-color: #fff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

/* Header */

.content {
    min-height: 70px;
    background: linear-gradient(90deg,
            rgb(255, 255, 255)10%,
            rgb(97, 182, 198)90%);
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 16px;
    padding: 10px;
    color: #094a72;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover{
    color: #468ead;
}

@media (min-width: 991px) {
    .menu .navbar ul li a::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #094a72;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .menu .navbar ul li a:hover::before {
        width: 90%;
        visibility: visible;
    }
}

@media (min-width:480px){
    header{
        flex-direction:row;
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        z-index: 1001;
    }
}

#menu {
    display: none;
}

.logo {
    width: 250px;
    height: 50px;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

h1 {
    margin: 90px 0 0 100px;
}

@media(max-width:991px) {
    .content {
        min-height: 90px;
    }

    .menu {
        top: 0;
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: linear-gradient(90deg,
                rgb(255, 255, 255)10%,
                rgb(97, 182, 198)90%);
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
    }
}

/* INICIO */
.carousel-container {
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.3s linear; /* Aumentar la velocidad de la transición */
    width: calc(6 * (15% - 20px) + 6 * 20px); /* Ajusta la longitud total del carrusel basado en el número de imágenes */
}

.image-box {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: calc(15% - 20px); /* Ajusta el ancho de cada caja para que quepan más en una fila */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    flex: 1 0 calc(25% - 40px); /* Asegura que cada imagen ocupe menos espacio */
    margin: 10px; /* Añade un margen para las imágenes */
}

.image-box img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 1024px) {
    .image-box {
        flex: 1 0 calc(33.33% - 40px); /* 3 por fila en tabletas */
    }
}

@media (max-width: 768px) {
    .image-box {
        flex: 1 0 calc(50% - 40px); /* 2 por fila en móviles */
    }
}

@media (max-width: 480px) {
    .image-box {
        flex: 1 0 calc(100% - 40px); /* 1 por fila en móviles pequeños */
    }
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent; /* Fondo transparente */
    color: #333; /* Color del texto del botón */
    border: none;
    font-size: 24px; /* Tamaño del símbolo */
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}






/* Footer */ 

main{
    width: 100%;
    height: 100%;
}

.show{
    display: inline;
}

.hide{
    display: none;
}

footer {
    position: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    box-shadow: 0 10px, 10px -2px rgba(97, 182, 198, 0.15);
    border-radius: 20px 40px 0 0;
    transition: background 0.3s linear;
}

.containers {
    max-width: 1240px;
    padding:30px 40px;
    margin: auto;
}

.content_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.perfil .logo_area{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.perfil .logo_area img{
    border: 1px solid var(--primary-color);
    width: 125px;
    height: 40px;
}

.logo_area .logo_name{
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0.4rem;
    padding-top: 0.5rem; 
    color: var(--secondary-color);
}

.logo_area button{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 22px;
    cursor: pointer;
    padding-top: 0.5rem; 
    
}

.logo_area .sun{
    color: #fff;
    font-size: 22px;
}

.desc_area{
    max-width: 350px;
    margin-bottom: 1rem;
}

.desc_area p{
    color: #828282;
    font-size: 400;
    line-height: 28px;
    text-align: justify;
}

.social_media a{
    color: #828282;
    margin-right: 22px;
    font-size: 24px;
}

.social_media a:hover{
    color: #094a72;
}

.service_area{
    display: flex;
}

.service_header{
    margin-right: 70px;
}

li.service_name{
    color: var(--secondary-color);
    font-weight: 600;
}

.service_header li a{
    color: #828282;
    padding-bottom: 1px;
    font-weight: 400;
}

.service_header li a:hover{
    color: #094a72;
}

.service_header li{
    margin-bottom: 10px;
}

hr{
    height: 1px;
    border: none;
    background-color: #828282;
    margin-bottom: 1rem;
}

.footer_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
}

.copy_right{
    color: #828282;
    display: flex;
    align-items: center;
}

.copy_right span{
    margin-left: 8px;
    font-weight: 400;
    letter-spacing: 0.135rem;
}

.tou a{
    color: #828282;
    margin-left: 0.5rem;
    margin-right: 20px;
}

.tou a:hover{
    color: #094a72;
}

@media screen and (max-width: 768px){
    .content_footer{
        flex-wrap: wrap;
        justify-content: left;     
    }
    .service_area{
        flex-wrap: wrap;
        justify-content: left;
    }
    .service_header{
        margin-left: 0;
        margin-right: 40px;
    }
    .social_media{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer_bottom{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 510px){
    .service_header{
        margin-bottom: 8px;
    }
    .copy_right{
        margin-bottom: 8px;
    }
}